
* {
  font-family: 'Squada One', cursive;
}

body {
  background-image: url(./images/dark-background.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

ul {
  list-style-type: none;
  list-style: none;
}